* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

.App {
  max-width: 800px;
  margin: 30px auto;
}

.button {
  border: 1px solid #3498db;
  border-radius: 4px;
  color: #3498db;
  text-decoration: none;
  padding: 8px 10px;
}

.button:hover {
  cursor: pointer;
  transition: 0.3s;
  background-color: #3498db;
  color: #ffffff;
}

.statusMessage {
  color: #3498db;
  margin: 30px auto;
  text-align: center;
}
